[2019-12-03 14:18] jean-gui opened #292 "Flatten history"
There's already a command to clean old audit entries but instead of removing them and losing the original information it could be useful to have a command that would merge all audit entries related to an entity in a single one. Some reasons for doing so are explained at  DamienHarper/auditor#293.

[2020-05-18 10:07] Thomas-Philippot opened #291 "No diffs in remove entries"
Hello, I wonder why I don't have any diff on remove entries.
I have Diffs for insert and update but nothing but the entity id for remove entries.

Is that a choice ? Can I configure something to add the diff to the remove audit entry ?

[2020-06-20 22:36] fcool opened #1 "Dependency to doctrine/doctrine-bundle"
Is there a specific reason to depend on `doctrine/doctrine-bundle`.

I am currently investigating the possibility to use it with a different framework, using components from symfony is completly fine, but doctrine-bundle pulls in the dependency-injection and with it more or less the complete framework.

From a code perspective at least none of the classes of `Doctrine\Bundle` is used, so it would

[2020-06-21 00:04] fcool commented on #1
Never mind... I guess this library is work in progress, now that I studied the source code. If so, just feel free to close this PR - if you need someone who tries an integration different from symfony feel free to contact me

[2020-06-22 06:03] NikoGrano opened #2 "Support for Binary formats. (Ramsey: uuid_binary/uuid_binary_ordered_time)"
## Context
- Using Symfony 5.x
- Using PHP 7.4
- Using Ramsey UuidBundle
- Added following Types and Mapping Types:
[code]

- I have following entity:

[code]

## Error

Audit will fail to SQL error on insert. Example of error is following:
[code]

## Problem

The problem is caused due value is expected to be string value when in the DB, but when code runs `convertToDatabaseValue()` [here](https:/

[2020-11-29 22:44] DamienHarper commented on #1
@fcool Sorry for the delay, `auditor` relies on providers to provide auditing services (listen to actions/operations to be audited and translate them into audit events) and storage services (persist audit events).
As of now, and mainly because `auditor` is born from the split of `DoctrineAuditBundle` into a core library and a symfony bundle, `auditor` comes with a default provider for `Doctrine` n

[2020-11-29 22:44] #1 closed

[2020-11-30 16:06] fcool commented on #1
Hi @DamienHarper

for me, it would be super cool, if this default provider would move to the bundle. Because pulling in the DI-Container from Symfony in any other framework does not work that well. While components are perfectly fine

[2020-11-30 16:47] DamienHarper commented on #1
@fcool Could you please elaborate, I'm not sure to fully understand what you mean.

[2020-11-30 16:51] fcool commented on #1
`auditor` depends on `doctrine-bundle`. The doctrine-bundle is dependent on the `symfony/dependency-injection` and on `symfony/framework-bundle`, and on `symfony/framework-bundle`.

So trying to use the "base" library will still force you to use a complete symfony framework. Which it would not, if the base library would not depend on `doctrine-bundle` but on `doctrine-orm`, for example.

More clea

[2020-11-30 16:54] DamienHarper commented on #1
@fcool oh I think I understood, the dependency to `doctrine/doctrine-bundle`was a leftover from the split of `DoctrineAuditBundle`. It is removed from `auditor` now in `master`

[2020-11-30 16:55] fcool commented on #1
I'll try  a new integration again, then. And if there are still issues, I will open new ones. Thanks so much.

[2020-12-07 10:34] parijke opened #10 "Page https://damienharper.github.io/docs/auditor/upgrading.html#upgrading-from-a-previous-version throws 404"
Document path isn't correct
https://damienharper.github.io/docs/auditor/upgrading.html#upgrading-from-a-previous-version

should be this I think
https://damienharper.github.io/auditor-docs/docs/auditor/upgrading.html#upgrading-from-a-previous-version

[2020-12-07 10:41] DamienHarper commented on #10
@parijke You're right, linked are broken right now, I'm gonna fix them asap

[2020-12-07 11:14] parijke commented on #10
Great! I found them anyway and goint to try the upgrade today

[2020-12-07 11:20] DamienHarper commented on #10
Great, tell me if you need some help ;)

[2020-12-07 11:25] parijke commented on #10
Here it comes:
Install issue
[code]

[2020-12-07 12:03] DamienHarper commented on #10
@parijke good catch, your PR has been merged

[2020-12-07 15:05] DamienHarper commented on #10
Broken links should be fixed now.

[2020-12-07 15:05] #10 closed

[2020-12-07 15:14] parijke commented on #10
I will try them Damien, thx. I upgraded and all went well (doing it with the current 4.0.0 which still requires dev-master for the auditor. So I am rolling back for now and stash the changes to re-apply them when the release contains the new composer.json.

Thanks it works fine after the upgrade!

[2020-12-07 15:19] DamienHarper commented on #10
I will push `4.0.1` including your PR later today

[2020-12-07 17:31] DamienHarper commented on #10
@parijke `4.0.1` is available

[2020-12-08 08:27] parijke opened #11 "Is auditor using the database during a cache:clear?"
I upgraded yesterday to 4.0.1. I use a docker environment, but also have a console binary on my host system. Now since yesterday I experience that a bin/console cache:clear is ending in a PDO exception (which is correct since the host environment doesn't have one), but that wasn't the case before.

I think Auditor is doing something with the database connection during cache warmup? Is this correct

[2020-12-08 08:34] DamienHarper commented on #11
@parijke Hum that's not expected so I need to do some investigation here. I'll keep you updated

[2020-12-08 08:52] parijke commented on #11
If I can be of any help let me know

[2020-12-09 15:16] DamienHarper commented on #11
@parijke After a bit of investigation, finally this is an expected behavior because when warming up the cache, auditor is setup and one of the setup process steps is dedicated to registering auditing and storage services. When registering auditing services, annotations are loaded to build/complete the auditable entities inventory. Loading annotations requires accessing entity metadata from the ent

[2020-12-09 21:55] webmasterMeyers opened #12 "global enable disable moved, maybe thats okay"
As always, thanks for your work on this bundle.  I wrote a PR on the old version, a "global" runtime enable/disable.

I am just updating to v4, and `DH\Auditor\Provider\Doctrine\Configuration::disable()` no longer exists.  I did a bit of digging around, and my code is still there, I just have to do `DH\Auditor\Configuration::disable()`

This is not a huge deal, and maybe that makes more sense with

[2020-12-09 23:37] DamienHarper commented on #12
Hi @webmasterMeyers!
The global enable/disable feature, as its name suggests, does let you enable and disable auditing globally. Also, `auditor` lets you use several providers simultaneously (a provider provides auditing and/or storage services to `auditor`).

So, it makes sense that the enable/disable toggle is tied to `auditor` itself (through its `Configuration` object) and not to every provide

[2020-12-10 08:05] parijke commented on #11
Thanks Damien, for explaining. I now know that is is expected and I have to change my CI chain (I build without a database before). It is as from 4.0.0, the 3.x of dcotrine-audit-bundle did not have this.

[2020-12-10 12:22] webmasterMeyers commented on #12
Sounds good to me!

[2020-12-10 12:22] #12 closed

[2020-12-10 13:13] dvdknaap opened #13 "migrate from damienharper/doctrine-audit-bundle"
Hi,

I want to migrate to this package because the other package 'damienharper/doctrine-audit-bundle'is abandonded ( or replaced)

I already migrated my old yaml file to the new structure but i'm still stuck at the new subscriber.

In the old i ad a subscriber that needs to update some fields like ip because it's getting it from another place then the usual place.

In the old package i had the fol

[2020-12-10 14:05] #13 closed

[2020-12-30 21:41] zaiddabaeen opened #15 "Add another column for audit tables"
I have been browsing the documentation trying to find a way to add a new field for each audit log, but I haven't found anything.

For our use case, the audit should be "tagged" with the project ID, and users within that project should be able to see the audit log. Users of course can be added and removed to the project.

At this time, audit logs seem to be owned by a user, but for our use case, it

[2020-12-30 21:44] zaiddabaeen opened #16 "Auditing outside of Doctrine Entities"
Is there a way for us to audit log a database operation that happened through SQL? Maybe writing our own provider? Are there any examples of this?

Thanks!

[2021-01-04 17:14] DamienHarper commented on #16
@zaiddabaeen I'm sorry but this is not possible.

`auditor` relies on Doctrine events and on UnitOfWork to get the changeset (data which changed) thanks to the `DoctrineProvider`.

Direct SQL can be achieved through Doctrine DBAL or through PDO but both of them do not fire any useful event (if any) and both of them do not provide any way to get what's been updated/created/deleted.

[2021-01-04 17:14] #16 closed

[2021-01-11 12:30] JSmythSSG opened #17 "Does this support EasyAdmin3"
Does this support [EasyAdmin3 ](https://symfony.com/doc/current/bundles/EasyAdminBundle/index.html) ?

When editing or creating items it doesn't seem to log it?

It use to work with the [API Platform ](https://api-platform.com/) when it changes entities in the database however since upgrading to auditor-bundle 4.0 it doesn't seem to be working anymore

[2021-01-11 13:04] JSmythSSG commented on #17
Sorry found out its related to this issue
[https://github.com/DamienHarper/auditor-bundle/issues/228](https://github.com/DamienHarper/auditor-bundle/issues/228)

[2021-01-11 13:04] #17 closed

[2021-01-20 17:04] tomme87 opened #18 "Argument 1 passed to DH\\Auditor\\Model\\Entry::sort() must be of the type array, null given"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 4.0.3
| PHP version          | 7.3
| Database             | MariaDB

#### Summary

When viewing audit log for an entity that have done a insert and does not have any diff.

#### How to reproduce

Use the viewer and press "view audit" on a entity with entries that do not have a diff.

#### Expected

[2021-01-21 12:22] tomme87 commented on #18
Some additional info: this only seams to happen if the entity have binary data. if I ignore the property with binary data the problem disappears, since `diffs` is no longer empty. Looks like serializing binary data is not working, and fails silently, causing `diffs` to be empty.

[2021-01-21 13:19] DamienHarper commented on #18
@tomme87 Thanks for the report, I'll have a look asap!

[2021-01-21 17:45] DamienHarper commented on #18
@tomme87 could you please check/test `master` branch, it should fix this issue.

[2021-01-25 12:56] DamienHarper commented on #18
@tomme87 did you have any chance to test `master` branch?

[2021-01-25 12:58] tomme87 commented on #18
@DamienHarper I'm sorry, I did not get the time. I will check later today

[2021-02-02 12:44] DamienHarper commented on #18
@tomme87 did you have any chance to test master branch?

[2021-02-02 13:34] tomme87 commented on #18
Sorry, something came up and I forgot. I have tested a bit now, but it's still not working for me. I suspect that this is because I was not accurate enough in my description of my problem. Since the binary data I put in the database is not actually a resource, it's just a string that contains binary data. in fact it's a UUID, see https://github.com/ramsey/uuid-doctrine/blob/master/src/UuidBinaryTy

[2021-02-03 11:41] DamienHarper commented on #18
@tomme87 thanks for your feedback, I just pushed some changes that bring support of Ramsey UUIDs as well as Symfony UIDs (UUID and ULID). May you check `master`, it should fix this issue?

[2021-02-03 12:50] tomme87 commented on #18
@DamienHarper it works! Exactly like I wanted it, nice work. Thanks :slightly_smiling_face:

[2021-02-03 12:58] DamienHarper commented on #18
@tomme87 Great so I close this issue

[2021-02-03 12:58] #18 closed

[2021-02-06 07:54] Maksclub opened #22 "Multifilters broken because of doctrine behavior"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | x.y.z
| PHP version          | 7.1
| Database             | MySQL / PostgreSQL / SQLite / Other

#### Summary

Hello! Critical error founded

The error is reproduced in this case:
[code]
This code will generate an error:
`An exception occurred while executing 'SELECT * FROM contact_audit at WHERE o

[2021-02-06 07:57] Maksclub commented on #22
Pull Request: https://github.com/DamienHarper/auditor/pull/21

[2021-02-06 09:11] DamienHarper commented on #22
Thanks @Maksclub for the report and the PR. It's merged now

[2021-02-06 09:11] #22 closed

[2021-02-10 14:16] DamienHarper opened #23 "Storage services are ignored"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | `4.x`
| PHP version          | all supported
| Database             | MySQL / PostgreSQL / SQLite / Other

#### Summary

see [How to store audit tables in other database ? #243](https://github.com/DamienHarper/auditor-bundle/issues/243)

[2021-02-10 17:18] #23 closed

[2021-02-18 15:39] Alexandr-Du opened #29 "reader->createQuery->addFilter by array of object_ids"
Hi! How can I make a query with a filter by array of object_ids?

[2021-02-23 06:41] timwsuqld opened #27 "[Security] Make audit viewer default to disabled, or protected via a Role"
Having the audit view (`/audit`) default to enabled could cause users of this bundle to inadvertently expose data to the public (security leak). The default config requires no authentication to access `/audit` and any objects that you are auditing will have their details viewable.

Yes, there are details of this in the documentation, but there will be plenty of people who grab this bundle to add a

[2021-02-23 08:27] DamienHarper commented on #27
@timwsuqld thanks for the feedback, that makes sense.

[2021-02-23 23:20] timwsuqld commented on #27
@DamienHarper If you are happy to disable the viewer by default, I believe it's a simple change at https://github.com/DamienHarper/auditor-bundle/blob/master/src/DependencyInjection/Configuration.php#L108 which I could submit a pull request for. I'm not familiar enough with Bundles to know how to apply the other option of something like `ROLE_AUDIT_VIEWER` in the bundle.

[2021-02-26 00:12] #29 closed

[2021-02-26 00:16] DamienHarper commented on #29
@Alexandr-Du You should now be able to achieve what you want by using for example
[code]

**Note**: this is available on `master` only until I release `1.2.0`. Feel free to reopen this issue if needed.

[2021-02-26 00:26] DamienHarper commented on #2
@NikoGrano Thanks for your feedback and (very) sorry for that late reply. I think the issue you describe has been fixed in a recent release. I close the issue, feel free to reopen if needed.

[2021-02-26 00:26] #2 closed

[2021-03-30 07:16] gomez77 opened #32 "Auditor use specific field of related Table instead of ID for log"
Hi,
first thanks for this flexible bundle.

I developed an own "audit service" but this isn't flexible and professional then yours.
But I used a specific filed to log on related fields instead of the ID

Example:
Your approach: status	old: App\Entity\Status#4	 new: App\Entity\Status#1
My approach: status old: planing new: operation

The record #4 with the field name= planing
The record #1 with the

[2021-04-02 09:26] gam6itko opened #33 "Fail to audit Entity with composite primary key"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.2.0
| PHP version          | any
| Database             | any

#### Summary

Throws `MappingException` when tries to record audit log for Entity which has complex primary keys

#### How to reproduce

I've made demo project for this bug. https://github.com/gam6itko/auditor-multi-id-bug

Look at `M

[2021-04-06 16:32] DamienHarper commented on #33
@gam6itko Thanks for the report and demo project, will have a look at it asap

[2021-04-06 20:12] DamienHarper commented on #33
@gam6itko I'm sorry but I don't plan to add support for composite primary keys as it would require a lot of internal changes and would imply backward compatibility troubles.
This has already been requested/discussed [here](https://github.com/DamienHarper/auditor-bundle/issues/57#issuecomment-814402261)

[2021-04-06 20:17] DamienHarper commented on #33
A simple solution is to add an autoincremented id (so single column primary key) to such entities/tables.
In addition, you can add a unique composite index spanning on relevant columns to keep being duplicate safe.

[2021-04-06 20:17] #33 closed

[2021-04-06 20:34] gam6itko commented on #33
@DamienHarper can you please add note about is in documentation? In "Known issues" section or something

[2021-04-06 20:35] DamienHarper commented on #33
Sûre, I'll do 👍🏽

[2021-04-11 19:43] DamienHarper commented on #33
I added a dedicated [note](https://damienharper.github.io/auditor-docs/docs/auditor/index.html) in the doc as suggested and throw a cleaner (more explicit) exception when such an entity is audited (available in `master` branch).

[2021-04-11 21:20] vindert opened #34 "Incorrect SQL statement using MSSQL"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 8.0.3
| Database                    | MSSQL

#### Summary

Running a migration always terun a ivalid SQL statement for MSSQL.

#### Current behavior

`ALTER TABLE category_audit ALTER COLUMN id INT IDENTITY NOT NULL`
SQL error is:
`Incorrec

[2021-04-13 21:04] vindert commented on #34
@DamienHarper, thanks for all your information.

I've been seeing this issue also on the 3.X branch. When installing the DoctrineAuditBundle I saw the bundle didn't support MSSQL officially. So I didn't bother to report an issue back then.
Now after upgrading to 4.X I didn't find that information anymore. But that was only because of the split package. After now reading the docs thoroughly I found

[2021-04-13 22:28] DamienHarper commented on #34
@vindert thanks for the feedback. As suggested, I will close this issue since it does not really belong to the bundle.

[2021-04-13 22:28] #34 closed

[2021-04-26 13:18] tomme87 opened #290 "Support for remote lock stores"
Right now lock is acquired only with SemaphoreStore or FlockStore.

I should be able to use a lock I have configured with symfony FrameworkBundle see https://symfony.com/doc/current/lock.html
Maybe a config option with named lock I want to use?

[2021-04-26 20:15] DamienHarper commented on #11
@parijke this should be fixed since `1.2.0` (PR #30) so I close this issue. Feel free to reopen it if needed.

[2021-04-26 20:15] #11 closed

[2021-05-02 21:51] DamienHarper commented on #32
@gomez77 Sorry for this late reply, did you try to add a `__toString()` method to your entities? It should do the trick.

[2021-05-03 18:01] gomez77 commented on #32
Hi,
thanks for this very useful hint! It is working! You can close this issue.

I'm happy to decide to use your package!

[2021-05-03 18:19] #32 closed

[2021-05-16 10:40] vindert opened #36 "DH\Auditor\Event\LifecycleEvent not called on sf5.2"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.2.0
| PHP version          | 8.05
| Database             | MS-SQL

#### Summary

After upgrading to symfony 5.2 the auditor doesn't work anymore.
symfony 4.4 had no problems.
I've looked into the debug-toolbar and the DH\Auditor\Event\LifecycleEvent is on the " Not Called Listeners" tab:
[code]

[2021-05-16 11:37] vindert commented on #36
I've now found bug: https://github.com/DamienHarper/auditor-bundle/issues/228 and it seems related to this.
I'm using symfony/doctrine-bridge v5.2.7 in my project.
Also the (local) fix proposed by N4IR0 works.

[2021-06-01 14:46] RiffFred opened #37 "Include former data in the remove audit entry"
In a lot of use cases it would be really helpful to include the former data of a removed entity into the audit log.  Right now the log only stores that an entity with a specific id was removed.  If you for example, use the audit log to audit any user specific data, you might not be able to track for what exactly was deleted.

I would suggest to include the old values in the diff/changeset like it

[2021-06-09 09:43] Legion112 opened #280 "Codeception: memory leak."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.19
| Database                    |  PostgreSQL

#### Summary
Memory leak when running Codeception test.

#### Current behavior
After running several tests the test fails on memory exhausted.
Error
[code]
My assumption the `damienharper/

[2021-06-14 11:38] seyfcom opened #38 "Help with reader"
Hi, Something is not clear to us how to use the reader. We don't know what provider to use. If we just want to use the default provider, Doctrine-provider, how to use this?
Anyway, the goal is just to be able to show on the "show" page of the audited entity the list of X lasts changes, with a very simple view. (That field has been changed from this to that) and nothing else.

What's the best way?

[2021-06-14 11:43] #38 closed

[2021-06-17 06:10] parijke opened #39 "Deprecation message with SF 5.3"
[2021-06-16T19:17:11.041340+02:00] deprecation.INFO: User Deprecated: Passing name and value is deprecated, you should pass a FilterInterface object instead. {"exception":"[object] (ErrorException(code: 0): User Deprecated: Passing name and value is deprecated, you should pass a FilterInterface object instead. at /home/mysite/sites/myapp/vendor/damienharper/auditor/src/Provider/Doctrine/Persistenc

[2021-06-17 06:49] DamienHarper commented on #39
@parijke Thanks for the feedback.

[2021-06-18 12:10] Bukashk0zzz opened #289 "Ability to set parent Entity"
I have this Entity structure on the project:

Company -> Group -> Item

And I need the ability to show all changes inside the group or company.
So for getting all "Item" changes inside the Group now I need to select all Item ids and then select all records regarding them.
In my case, there can be thousands of Items inside the Group and there is no easy way to show all changes inside the Company.

[2021-07-14 13:25] johnvanham commented on #39
FYI I'm seeing this deprecation too with SF 4.4.26 when using the auditor viewer (which is incredibly awesome by the way!!) triggered by... https://github.com/DamienHarper/auditor/blob/04a6a1e0a2300734e7990030f031a0737b6a817b/src/Provider/Doctrine/Persistence/Reader/Reader.php#L61

[2021-07-15 19:44] DamienHarper commented on #37
Hi @RiffFred, sorry for this late reply.
What exactly would you like to have in removal audit entries? It currently contains the `id` of the removed element and if a `__toString()` method exists in the relevant entity, it's also evaluated and its result is stored as well.

[2021-07-15 19:55] DamienHarper commented on #39
@parijke @johnvanham Thanks for your feedback and sorry for this late reply.
The deprecation message you get is expected, the "new" (not so new though 😉) way to filter a query is to use filters.
There several kinds of filters, see [documentation](https://damienharper.github.io/auditor-docs/docs/auditor-bundle/usage/querying.html#filters) for better overview.

[2021-07-16 09:42] RiffFred commented on #37
Hi @DamienHarper thank you for the reply.
I thought it might be helpful to include the full audited data of a removed element like it is done in the diff view for changed entities.
Maybe it is just a question of the different rendering between deleted and changed elements.
I think it would be nice to render something like element x was deleted and the element had the following data.
Basically like

[2021-07-21 10:20] josipjelic commented on #15
+1

[2021-08-27 15:40] nietonchique opened #42 "Php preload is broken by two classes in one file"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.2.0
| PHP version          | 8.0.9
| Database             | PostgreSQL 12.06

#### Summary

Can't preload already declared class DH\Auditor\Event\AuditEvent in <b>/var/www/wl-core/vendor/damienharper/auditor/src/Event/AuditEvent.php</b> on line <b>44</b>

#### How to reproduce

Enable preload in

[2021-08-30 15:36] mattsdel opened #43 "Manual entry in Audit tables"
Sometimes when you encounter a bug you must change the data with an adhoc query in the database. Is there a way to insert a line of the diff in the Audit tables after making the update on the database through a query?

If not, I supposed the solution is to use the ORM to make the updates?

Thanks.

[2021-09-02 15:16] mmoench opened #44 "Calling flush multiple times before committing causes additional audit-logs"
I have an entity which should get audited and if I call flush more than once before calling commit, the audit-events will get logged with each subsequent commit again. In this example I end up with 11 identical insert audits:

[code]

I believe the issue is caused by `DoctrineSubscriber::onFlush`, which simply copies the current SQL-Logger to a class-variable and then tries to restore that value o

[2021-09-07 12:39] SanderVerkuil opened #45 "Slow queries when finding the revisions of a single entity."
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.2.0
| PHP version          | 7.4.19
| Database             | MySQL 5.7

#### Summary

When running queries like:
[code]

Explained:

| id | select_type | table      | partitions | type | possible_keys                                  | key    | key_len | ref    | rows     | filtered | Extra

[2021-09-22 01:19] kor3k opened #46 "release pls"
@DamienHarper 🙏 please can you make a release so we can use the attributes via a stable version? 🙏

[2021-09-26 08:49] #39 closed

[2021-09-27 09:58] #44 closed

[2021-09-27 12:36] DamienHarper commented on #42
@nietonchique Thanks for the feedback. As of now, I can't do much about this to keep Symfony 3.4 backward compatibility. Next major version of `auditor` and `auditor-bundle` will drop support of Symfony 3.4. The problem should be fixed in the next major release.
I close this issue for now but feel free to reopen if needed once next major is released.

[2021-09-27 12:36] #42 closed

[2021-09-27 12:45] DamienHarper commented on #43
@mattsdel As mentioned in the doc

So you're right, the only "easy" solution as of now is to take the ORM path.

[2021-09-27 12:45] #43 closed

[2021-09-27 13:01] DamienHarper commented on #45
@SanderVerkuil #44 is fixed on `master` branch.
May you retry to set a composite unique index on `id` and `object_id` columns?

Nevertheless, it's quite hard to give hints on how to increase performance regarding queries without a better understanding of what queries you'd like to run and more precisely what `where` clauses you'd like to use. You can get very good results by using composite indice

[2021-09-27 13:58] SanderVerkuil commented on #45
Ah allright, prior to that I might have to either truncate all the current tables that exist, or at the very least remove all the duplicated ID's, which might take a while.

But it might very well be the case that MySQL didn't like the fact that there were quite some duplicate ID's present, and that it would just perform a full table scan then.

And indeed, when I'm running the query as called in

[2021-09-27 15:06] tomme87 opened #49 "Not possible to audit entity without annotations."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.13
| Database                    | MariaDB 10.4

#### Summary

Adding entities to the config does nothing unless `@Auditable()` annotation is added to the entity.

my config:
[code]

Note: Using annotations everything works as expected.

[2021-09-27 16:41] DamienHarper commented on #45
@SanderVerkuil Ok, keep me updated of your findings once the tables are cleaned or truncated.

[2021-09-27 22:04] DamienHarper commented on #46
@kor3k done!

[2021-09-27 22:04] #46 closed

[2021-10-05 12:33] pniep opened #52 "Audit tables column `diffs` type unexpectedly changed from JSON to TEXT"
Hi @DamienHarper,

After update doctrine wants to change type of all `diffs` columns in audit tables from `json` to `text`. [db: postgres, json support: yes]
I'm not sure that was intended.

Fragment below forces TEXT as the type of all JSON columns when database actually supports json columns .
https://github.com/DamienHarper/auditor/blob/adc9fa1d0059dc1074cf9c6efc3ca84fcf9999bb/src/Provider/Doct

[2021-10-22 09:04] dvdknaap opened #56 "Changes on flush not handled by auditor"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.3.0
| PHP version          | 8.0.10
| Database             | MariaDB

#### Summary
Due to GDPR i've marked some fields with personal data to be encrypted.
The fields are encrypted with an subscriber 'onFlush' these changes are not picked up by the auditor so it always sees an diff because the aud

[2021-10-23 10:28] #56 closed, assigned to nobody

[2021-10-31 10:17] jhard opened #58 "Dissociating while removing offers no target"
I'm using auditor with the auditor-bundle for Symfony on the latest version (5.3).

I have an entity A that has a OneToMany relation to entity B with orphanRemoval=true, since B depends on A and cannot be transferred or stand on its own.
If I remove an entity B from A (e.g. via a form with a CollectionType), I get a transaction that looks somewhat like this:
[code]

While it's easy enough to work

[2021-11-01 16:24] jhard opened #59 "Log the field for relations"
I have an entity `User` and another entity `Post` which might have an `author` and an `editor`. Both of these reference `User`.
If I associate and dissociate an author, there's no way to tell whether the User was assigned as the author or editor.

Is there a use-case where adding the affected field might lead to problems?

[2021-11-02 21:20] DamienHarper commented on #58
@jhard thanks for the feedback. I have to have a closer look at what can be done for those cases where deletion happened earlier. No promise though.
Regarding `TransactionProcessor`, it wasn't meant to be overridden.

[2021-11-02 21:24] DamienHarper commented on #59
@jhard thanks for this feedback, having a way to identify which field is involved in association/dissociation would be a nice addition. I'll investigate on what can be done here.
If you want to contribute a submit a PR, I'd be glad to review it though!

[2021-11-03 23:49] DamienHarper commented on #59
@jhard `master` branch now keeps track of relationship fields/references.

[2021-11-06 23:31] jhard commented on #59
Sorry for not getting back to you earlier. Looks good, thank you.

[2021-11-07 07:24] #59 closed

[2021-11-16 20:31] vindert commented on #36
@DamienHarper Yes, without the fix proposed by N4IR0 It does not work.
Upgraded to v4.2, ad also tried to use dev-master.
Php version is now 8.0.12
And I'm now using sf 5.3.7 and these doctrine versions:
[code]

[2021-11-26 13:06] Herz3h opened #62 "Query all audit tables"
Would it be possible to query all audited table for some criteria just like you can query a specific table ?

I know the query may be taking long time and consuming memory but this could be avoid with some kind of pagination maybe ?

[2021-11-29 10:09] DamienHarper commented on #62
@Herz3h What would be the use case?
As of now you can already achieve this on your side by querying all audit tables (or only the ones you're interested in) one by one, reuse filters across those queries, and aggregate/paginate the results.

[2021-11-29 14:19] Herz3h commented on #62
Like find what a user did in past 24h or similar query

[2021-12-08 19:32] vindert commented on #36
I'm now working on updating to sf5.4, also using dev-master for auditor and auditor-bundle. and now this bug seems solved.

[2021-12-12 19:39] #36 closed

[2022-01-01 17:17] yivi opened #68 "Support for Symfony 6 + DBAL3 (tests), and PHP 8.1 support"
TLDR; Attempting to create a PR to add support for Symfony 6, but many issues crop.

Would it be worth attempting to fix these issues on branch 1.x, and have support from Sf 3 to Sf 6 on this branch... or would this efforts better directed at the v2? Branch? Do you consider v2 branch to be near enough to be released in the near future?

Now, the long version:

| Q                    | A
| --------

[2022-01-02 14:16] DamienHarper commented on #68
@yivi Thanks for trying to bring sf6 compat to this lib, much appreciated 👍🏽
Here is my point on your first questions:

As I mentioned in the `README.md` on `master` branch (which is the v2 branch), v2 drops support of sf3.4 and PHP 7.2 (still thinking about dropping PHP 7.3 support as well as it is not supported anymore for quite a long time now).
`1.x` branch will only receive critical and/or se

[2022-01-06 11:36] yivi commented on #68
Great! Are there any tasks with which one could help? Any "help-wanted-accepted" issues where a PR would be welcome on the `master` branch?

[2022-01-06 11:36] #68 closed

[2022-01-06 15:17] DamienHarper commented on #68
@yivi I haven't tested sf6 compatibility, any help on this would be much appreciated :)

[2022-01-06 17:36] yivi commented on #68
After setting the the symfony/* deps to `^6.0` and updating, all tests run fine without issue. I'll make more checks on the "bundle" package later.

What PHP version are you targeting for this release? On the readme it says >= 7.4, but I've seen a couple `mixed` return type-hint that would break on PHP < 8 (twice in `AuditTrait`, and twice in `RangeFilter`). Is that correct?

I'm fine with >= 8 if

[2022-01-07 08:29] DamienHarper commented on #68
@yivi

Great, thanks!

As mentioned in the `README.md` I target PHP >= 7.4 so those `mixed` returns should be removed, you're right.

Yeah, this has to be done too ;)

[2022-01-10 14:08] skuhnow commented on #58
I seems it's already fixed/improved in the current master branch, but not in any release. Do you think you could release maybe 1.3.2 with this improvement? I want to avoid a fork and custom implementation.

[2022-01-10 14:28] DamienHarper commented on #58
@skuhnow I plan to release a new major version 2.0.0 sometime between January and February.

[2022-01-11 05:14] mkopinsky opened #76 "In master, PHP8 must use PHP8-style annotations instead of old-school /** ORM\Entity */ style"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | dev-master 19d5c11
| PHP version          | 8.0.13
| Database             | MariaDB

#### Summary

When #40 introduced PHP8 annotations, it still used `$this->reader->getClassAnnotation` if there weren't any Entity attributes.
[code]

In [#72](https://github.com/DamienHarper/auditor/pull/72/files#d

[2022-01-13 23:30] #76 closed

[2022-01-14 12:26] DamienHarper commented on #76
@mkopinsky Thanks for the report, this should be fixed in `master` now

[2022-01-14 14:00] mkopinsky commented on #76
Thanks!!

[2022-01-19 02:08] ad3n opened #80 "Support Doctrine DBAL 3"
When using Doctrine DBAL 3.3.0 i got an error

[code]

[2022-01-22 22:03] DamienHarper commented on #80
Hi @ad3n. Could you please provide your current `auditor` and `auditor-bundle` versions?
`auditor 1.x` does not support `doctrine/dbal 3.x` but didn't prevent its installation. This has been fixed with `auditor  1.3.1`.

[2022-01-22 22:59] ad3n commented on #80
@DamienHarper when using DBAL 3.X we install 1.3.0 version of Auditor I think

[2022-01-22 23:38] DamienHarper commented on #80
You should upgrade to `auditor 1.3.1` and downgrade `doctrine/dbal` to a `2.x` until `auditor 2.0` is available (sometime in January or February)

[2022-01-22 23:51] ad3n commented on #80
@DamienHarper thank you very much, it worked for me

[2022-01-22 23:51] #80 closed

[2022-02-03 11:03] samuel4x4 opened #84 "Entries in reverse order on audit table when using transactions"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 1.3.1
| PHP          | 7.4
| MySQL             | 5.7
| Symfony | 5.3

#### Summary
Given these insert and update operations:
[code]
On the audit table you'll have them in the reverse order:
[code]
If you don't use `beginTransaction()` and `commit()`, they are in the correct order:
[code]

Do you ha

[2022-02-03 23:12] DamienHarper commented on #84
@samuel4x4 hum that's weird, I'll have a look at this during the weekend

[2022-02-03 23:36] samuel4x4 commented on #84
@DamienHarper thank you, I would be more than grateful

[2022-02-04 00:13] DamienHarper commented on #84
@samuel4x4 I finally had time to attempt to fix this issue. Could you please check PR #86 ?

[2022-02-04 00:29] samuel4x4 commented on #84
@DamienHarper it's working like a charm, thanks a lot! I see it as a major fix, do you think can you release **1.3.2**? It will be really helpful ;)

[2022-02-04 00:29] #84 closed

[2022-02-04 05:51] DamienHarper commented on #84
@samuel4x4 yeah, I'll back port it to 1.x branch and release it soon

[2022-02-04 06:57] samuel4x4 commented on #84
Thank you @DamienHarper

[2022-02-04 13:01] DamienHarper commented on #84
@samuel4x4 [1.3.2 is live](https://github.com/DamienHarper/auditor/releases/tag/1.3.2)

[2022-02-04 13:07] samuel4x4 commented on #84
thank you @DamienHarper

[2022-03-07 20:36] pedrocasado opened #278 "Comparison of the diff from decimal fields are being applied even when value is the same"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 5.0.0
| PHP version                 | 7.4
| Database                    | MySQL

#### Summary

I have an entity with a column of type decimal. When i save the entity, the values from the decimal type does diff even if they haven't changed because the comparison it not working p

[2022-03-08 03:59] janklan opened #91 "Incorrect array destructuring when processing disassocitions"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.0
| PHP version          | 8.1.3
| Database             | MySQL

#### Summary

Auditor fails to process entity disaccociation.

#### Current behavior

When attempting to deassociate inverse side of uni-directional ManyToMany relation (Report m..m Tags), I get a following error:

[code]

I track

[2022-03-08 04:25] janklan commented on #91
@DamienHarper I found another related issue that I fixed in the associated PR - after adding the missing `$id`, one relationship worked fine, but one did not. I don't know enough about Auditor's internals, so I did not track _why_, but https://github.com/DamienHarper/auditor/blob/master/src/Provider/Doctrine/Auditing/Transaction/TransactionHydrator.php#L102 does not supply the entity ID.

Effectiv

[2022-03-08 07:24] DamienHarper commented on #91
@janklan Thanks for that clear report and the associated PR, much appreciated.
You're right regarding DTO vs basic arrays, it has to be changed. Feel free to submit a PR if you want to, I'd be glad to merge it.

[2022-03-08 08:28] #91 closed

[2022-03-08 08:30] DamienHarper commented on #91
@janklan `2.0.1` has just been released, including your fixes, thanks!

[2022-03-08 09:40] janklan commented on #91
Thanks, it's great to see some quick action!

[2022-03-08 10:40] janklan commented on #91
@DamienHarper I tried to work out why didn't the test suite fail even though the coverage was there. It turns out the failing code is not really being covered - I'm not quite sure how would the listed test cases cover the problematic line:

<img width="1302" alt="image" src="https://user-images.githubusercontent.com/5463371/157219438-47c4b172-ea49-4eca-851d-f7d1e081c071.png">

Sure enough, when yo

[2022-03-10 17:42] DamienHarper commented on #91
@janklan #93 brings better coverage

[2022-03-22 14:54] Lehren commented on #15
+1

[2022-04-02 06:10] DamienHarper commented on #45
@SanderVerkuil I close this issue for now, feel free to reopen if needed.

[2022-04-02 06:10] #45 closed

[2022-04-02 06:11] #58 closed

[2022-04-02 06:12] DamienHarper commented on #58
@jhard I forgot to close this issue when 2.0.0 was released.

[2022-04-05 06:48] DamienHarper commented on #15
see #61

[2022-04-07 05:39] SanderVerkuil opened #95 "Auditor fails to compute diff for new entities created in a transaction that depend on typed properties being used in the __toString()"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.1
| PHP version          | 7.4.28
| Database             | MySQL

#### Summary

The auditor fails to create the audit trails for entities that are created within a transaction and have a custom `__toString()` method that depends on type hinted properties.

#### Current behavior

It currently th

[2022-04-14 15:05] DamienHarper commented on #95
Hi @SanderVerkuil, I've not been able to reproduce your issue so far. Could you provide a code sample that helps reproducing the issue? I tested something very similar to the code you initially provided but everything worked as intended.

[code]

[2022-04-14 15:22] DamienHarper commented on #95
@SanderVerkuil Looking at the provided traces, it seems that your `Entity` instance do not have the `type` property set at save time.

[code]

That way, a PHP Fatal error is triggered at save time (because `Entity::__toString()` is called, if this method exists, to get a "representation" of the instance) but I have no way to handle this properly.
I cannot wrap the `__toString` call in a try/catch

[2022-04-14 15:58] SanderVerkuil commented on #95
@DamienHarper Thanks for taking a look at it. The weird thing though, is that it was initialized, as it must be initialized through the constructor, so it could not be uninitialized. For some reason though, it was actually initialized.

Maybe this is a weird mixture of other dependencies that don't play together very well, as I couldn't reproduce it here either.

When I tried to reproduce it local

[2022-04-14 16:15] DamienHarper commented on #95
@SanderVerkuil you're right, I can workaround the issue using a try/catch regarding a Throwable instead of an Exception (my bad), will do a PR shortly.

[2022-04-14 16:28] DamienHarper commented on #95
@SanderVerkuil feel free to share your findings about `DataFixture`'s dark magic regarding typed properties ;)

[2022-04-14 16:44] #95 closed

[2022-04-14 18:49] SanderVerkuil commented on #95
What I think happened, was that I was using the `ReferenceRepository`, which internally fetches only the `reference`.

After a fixture is loaded, the manager is cleared and the other fixtures are being loaded. I tried to recreate it by adding the fixture bundle as a dependency, and using the ORMExecutor with the references, but to no avail.

I think it happens when the DB has an entity `DummyEntit

[2022-04-14 21:07] DamienHarper commented on #95
Well, I think it might be ok to add that warning on one hand. But on the other hand I think most users won't find the root cause of the warning or won't be able to fix it if it comes from Doctrine. So they'll get warnings they can't get rid of which can be frustrating.

[2022-04-19 18:39] SanderVerkuil opened #98 "Auditor fails to compute diff when a column of type `blob` is modified."
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.2
| PHP version          | 7.4.28
| Database             | MySQL

#### Summary

Computing the diff breaks when using a `resource` column.

#### Current behavior

When the line:

[code]

is called when the `diff` contains a column of type `resource`, a JSON exception is thrown stating that the `

[2022-04-19 19:41] DamienHarper commented on #98
Thanks @SanderVerkuil for the report and the test. I'll try to make fix shortly.

[2022-04-19 20:10] DamienHarper commented on #98
Well your PR already fixes the issue, thanks 👍🏽
When reading this issue I thought it only contains a failing test 😅
Anyway, it's merged now.

[2022-04-19 20:13] DamienHarper commented on #98
I also replied to your question about blob field handling [in the PR conversation](https://github.com/DamienHarper/auditor/pull/99#issuecomment-1103061849)

[2022-04-19 23:15] SanderVerkuil commented on #98
I thought fixing it would be a bit more difficult, but the fix was quite simple as it was the same as the `binary` column type.

The question is more generic though, like, currently when the value is a `resource`, the `diff` will show `resource#<resource-id>`, which is fine if the data is indeed a binary file (or a blob) containing multiple megabytes of data. However, in some cases, the actual val

[2022-04-22 10:55] HrjSnz opened #100 "Delete collection not log dissociate."
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    |     2.0.2
| PHP version            | 8.0
| Database                 | MySQL
#### Summary

Not properly log dissociation if collection is removed.

#### Current behavior

If i have 2 entities manyToMany and remove all items from one entity - no logs dissociation. If some item remains so it log corre

[2022-04-22 11:52] HrjSnz commented on #100
Found this issue in auditor-bundle

[2022-04-22 11:52] #100 closed

[2022-05-05 20:22] adeanzan opened #101 "Ignore attribute is not recognized on child classes"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.1 (auditor bundle 5.0.2)
| PHP version          | 8.1.5
| Database             | MariaDB

#### Summary

The `Ignore` attribute is not respected when it's on a private property in a parent class and a field was changed in a child class.

#### Current behavior

Here is my class hierarchy:

[code]

[2022-05-13 06:21] DamienHarper commented on #101
@adeanzan Thanks for the report, I'll have a look at this issue

[2022-05-16 11:56] SanderVerkuil opened #102 "New version"
On the 19th of April, two bugs have been fixed (#99 and #97). Currently, our project uses the `dev-master` version of the project, because no new version has been released. When will the new version including these bug fixes be released?

And should a new version be released for the DamienHarper/auditor-bundle as well, with the updated dependency to 2.0.3?

[2022-05-18 06:49] DamienHarper commented on #101
@adeanzan Would you mind sharing a working example that reproduce the issue please?
That would speed up the fix.

[2022-05-18 06:53] DamienHarper commented on #102
@SanderVerkuil `2.0.3` is out

[2022-05-18 06:53] #102 closed

[2022-05-18 15:06] adeanzan commented on #101
@DamienHarper - Sure thing, I'll work on getting something together!

[2022-05-26 15:54] adeanzan commented on #101
@DamienHarper - I've created a fork of the demo application that reproduces the problem: https://github.com/adeanzan/auditor-bundle-demo/tree/auditor-issue-101

1. Check out the above repository
2. Switch to branch `auditor-issue-101`
3. `composer install` and `./reload.sh`
4. View the Audit logs for "Author"

Expected: The most recent Author entry doesn't have a change for `updatedAt` since it's

[2022-05-29 09:57] zoka123 opened #106 "JsonException when using custom binary DoctrineType"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.3
| PHP version          | 8.1.2
| Database             | SQLite

#### Summary

It fails to compute the diff when a custom Doctrine type mapped to binary database type is used. [It checks for known types such as Ramsey or Symfony UUIDs](https://github.com/DamienHarper/auditor/blob/2.0.3/src/Pro

[2022-05-30 16:42] DamienHarper commented on #101
@adeanzan could you please test PR #107

[2022-05-30 21:40] DamienHarper commented on #106
@zoka123 thanks for the report, will have a look at it shortly

[2022-05-31 09:07] DamienHarper commented on #101
@adeanzan I finally merged #107 which fixes the issue. Feel free to re-open if needed.
Anyway, thanks for the fork, it helped ;)

[2022-05-31 15:23] adeanzan commented on #101
@DamienHarper Thank you for the fix!

[2022-05-31 18:50] kor3k opened #288 "manual snapshot"
please consider adding an ability to manually "snapshot" given entity - store current values of it's fields, associations, and associations' fields (?).
this could be used for DamienHarper/auditor#293 and perhaps for reverting.

[2022-06-10 07:48] aszenz opened #110 "Add whitelist option to audit columns"
Add option `include_columns` to specify the columns to be used for auditing an instead.
Right now one has to ignore a lot of columns per entity to achieve the same thing.

In my opinion, for most entities only have a few columns that are relevant for auditing, so it makes sense to just specify those and ignore the rest.

[2022-06-10 09:49] aszenz commented on #110
Maybe this should go into https://github.com/DamienHarper/auditor-bundle, let me know

[2022-06-10 14:39] DamienHarper commented on #110
@aszenz thanks for the feedback, it makes sense. I need to think about it a bit more then I'll eventually add it to the roadmap.

[2022-06-14 15:45] aszenz opened #111 "The default ui can group related audit log entries by their transaction hash"
I would like to see the default ui grouped by the transaction hash so that it can show what was inserted/updated alongside related associations/dissociation's in one single view, this is closer to how users think about the change since the entity is modified alongside it's relations in one single action.

Something like this:

1. OrderEntity#1 has been updated by UserFoo

  |Attribute|Old Value|Ne

[2022-06-30 12:16] Muneer-Shafi opened #287 "Doctrine association OneToMany"
lets suppose i have a  table person and table addresses
each person have many addresses

i need to log person table
i have added new address to this person or i update any existing address of this person
how that log is generated

[2022-07-06 06:12] GityaMan opened #112 "Incorrect primary key name on render"
vendor/damienharper/auditor/src/Provider/Doctrine/Auditing/Transaction/AuditTrait::summarize
the method uses the actual name of the primary key (in my case the "code" field - $pkName variable)

vendor/damienharper/auditor-bundle/src/Resources/views/Audit/helpers/helper.html.twig:58-59
`{% set subject = target.class~'#'~target.id %}
        {{ direction }} <code><a href="{{ path('dh_auditor_show_en

[2022-07-12 10:30] fkropfhamer opened #113 "Deprecation of Doctrine\DBAL\Logging\SQLLogger Interface"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.3
| PHP version          | 8.1.8
| Database             | SQLite

#### Summary

The Doctrine\DBAL\Logging\SQLLogger Interface is deprecated

#### Current behavior

Symfony 6.1 shows a deprecation notice.

[code]
#### How to reproduce

1. Install the auditor bundle in symfony 6.1
2. configure SQ

[2022-07-12 18:58] aszenz opened #114 "Linking changes in child entities to their parent entity"
I have a simple use case of logging an order with multiple order lines.

When changing the order line the order entity is not modified and no log is generated for it. Only the log for the order line entity is generated.

How can I query every change to an order + order lines using the order number only. So for every transaction i should get the changes for both order and orderline.

The diff for t

[2022-09-23 19:32] dappa commented on #52
Any chance to revisit this issue?
It seems to be present on 2.0.5 still.

[2022-10-13 10:19] test789t opened #115 "BackedEnum could not be converted to int"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.5
| PHP version          | 8.1.2
| Database             | MySQL

#### Summary

ErrorException

Warning: Object of class App\Enum\ProductType could not be converted to int

#### Current behavior

`vendor\damienharper\auditor\src\Provider\Doctrine\Auditing\Transaction\AuditTrait.php&line=89#line8

[2022-10-13 11:30] DamienHarper commented on #115
@test789t Thanks for the report. I'll have a look at it asap.

[2022-10-27 11:00] dmitryuk commented on #113
I've tried to implement Middleware way, but:
1. can't do it in DoctrineSubscriber, because Connection already established
2. we need to create CompilerPass, where will add additional Middleware to Connection
So work still in progress...

[2022-10-29 13:41] dmitryuk commented on #112
Exception message is `Key "id" for array with keys "class, label, primaryKey, table" does not exist.`

[2022-10-29 20:58] DamienHarper commented on #112
https://github.com/DamienHarper/auditor-bundle/pull/328 has to be merged

[2022-10-31 07:45] #112 closed

[2022-10-31 11:39] dmitryuk opened #119 "Json colums are double encoded"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.0.5
| PHP version          | 8.1.0
| Database             | MySQL / PostgreSQL / SQLite / Other

#### Summary

Json diffs are encoded twice. At the end it doesn't show correctly in viewer
![image](https://user-images.githubusercontent.com/661654/198999008-59ebd907-78a7-453d-b23f-23c01e6abe01.png)

[2022-10-31 13:43] DamienHarper commented on #119
@dmitryuk good point, thank you for the relevant PR!

[2022-10-31 14:53] dmitryuk commented on #119
@DamienHarper very pleasant if you will add a new patch tag, because I need to close my task

[2022-10-31 15:23] DamienHarper commented on #119
@dmitryuk here you are, [2.1.1](https://github.com/DamienHarper/auditor/releases/tag/2.1.1) is released

[2022-11-10 09:31] DamienHarper commented on #113
fixed in `master` branch (thanks @dmitryuk)

[2022-11-14 09:47] #113 closed

[2022-11-25 16:41] #98 closed

[2022-11-30 10:47] nalxnet opened #132 "exception while creating audit table schema when using single table inheritance"
| Q                    | A
| ---------------------| -----------------------
| `auditor` version    | 2.3.0
| PHP version          | 8.1.8
| Database             | MySQL / SQLite

#### Summary

I have an abstract parent entity which is not audited, but uses doctrine/orm inheritance type "SINGLE_TABLE" and defines the database table for its child entities. Some child entities are configured to be au